.signup-link {
  display: block;
  margin-top: 20px;
}

form {
  width: 400px;
}

.login-message {
  font-size: 20px;
}

.error-text {
  color: red;
  font-size: 12px;
  height: 18px;
  display: block;
}

.error-message {
  display: block;
  height: 30px;
  color: red;
  font-weight: bold;
}
